.task-day-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.12px;
  white-space: nowrap;
  color: var(--color-theme-text-sec);
  cursor: pointer;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.task-day-container:hover {
  color: var(--color-theme-text);
}

.task-day-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

.task-day-container:hover .task-day-icon-wrapper {
  opacity: 1;
}

.task-day-icon-inner {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

