/* ToggleOpenNavbar Component Styles */

.toggle-open-navbar-container {
  position: relative;
}

.toggle-open-navbar-container button {
  transition-property: opacity, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.toggle-open-navbar-container button:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.05);
}

.toggle-open-navbar-container button:focus {
  outline: transparent solid 2px;
  outline-offset: 2px;
}

.toggle-open-navbar-container button:focus-visible {
  outline: transparent solid 2px;
  outline-offset: 2px;
}

